<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            
        </nav>
    </header>
    <h1>Welcome to DH Heroes</h1>

   <h2>Heroínas y Héroes Tecnológicos más representativos del ámbito de la programación. </h2>
    <aside>
        <ul>
            <li>
                <figure><a href="/turing"><img src="/img/440px-Alan_Turing_Aged_16.jpg" alt="imagen de Alan Turing" title="Alan turing"></a><figcaption>Alan Turing</figcaption></figure>
                <figure><a href="/babbage"><img src="/img/CharlesBabbage.jpg" alt="imagen de Charles Babbage" title="Charles Babbage"></a><figcaption>Charles Babbage</figcaption></figure>
                <figure><a href="/clarke"><img src="/img/joanc1.jpg" alt="imagen de Joan Clarke" title="Joan Clarke"></a><figcaption>Joan Clarke</figcaption></figure>
                <figure><a href="/hamilton"><img src="/img/Margaret_Hamilton_1995.jpg" alt="imagen de Margaret Hamilton" title="Margaret Hamilton"></a><figcaption>Margaret Hamilton</figcaption></figure>
            </li>
            <li>
                <figure><a href="/lovelace"><img src="/img/Ada_Byron_daguerreotype_by_Antoine_Claudet_1843_or_1850.jpg" alt="imagen de Ada Lovelace" title="Ada Lovelace"></a><figcaption>Ada Lovelace</figcaption></figure>
                <figure><a href="/hopper"><img src="/img/Grace_M._Hopper.jpg" alt="imagen de Grace Murray Hopper" title="Grace Murray Hopper"></a><figcaption>Grace M. Hopper</figcaption></figure>
                <figure><a href="/berners-Lee"><img src="/img/Sir_Tim_Berners-Lee_(cropped).jpg" alt="imagen de Tim Berners-Lee" title="Tim Berners-Lee"></a><figcaption>Tim Berners-Lee</figcaption></figure>
            </li>
        </ul>    
    </aside>
</body>
</html>